<div class="upload-images-container">
    <h2>Preencha os dados do roteiro</h2>
    
    <div>
        <label class="custom-label" for="theme">Tema principal</label>
        </div>
        <div>
            <textarea 
                rows="1"
                cols="100" 
                pInputTextarea 
                placeholder="Digite o theme (Exemplo: Fotossíntese de plantas aquáticas)"
                [(ngModel)]="theme">
            </textarea>
    </div>
    <div>
        <label class="custom-label" for="style">Estilo</label>
    </div>
    <div>
        <select id="style" [(ngModel)]="style">
            <option value="0.0">Preciso</option>
            <option value="0.5">Balanceado</option>
            <option value="1.0">Criativo</option>
        </select>
    </div>

    <div>
        <label class="custom-label" for="reutilize">Roteiro base</label>
    </div>
    <div>
        <textarea 
            rows="5"
            cols="100" 
            pInputTextarea 
            placeholder="Adicione um roteiro cuja estrutura você quer utilizar como base"
            [(ngModel)]="reutilize">
        </textarea>
    </div>

    <div>
        <label class="custom-label" for="reutilize">Mídia base (vídeo, imagem ou documento)</label>
    </div>
    <div class="upload-images-container">
        <!-- [auto]="true"  -->
        <!--  -->
        <p-fileUpload 
            name="file[]" 
            url="http://localhost:5000/uploadfake"
            (onSelect)="onSelect($event)"
            (onCancel)="onCancel()"
            [showUploadButton]="false"
            [multiple]="false"
            chooseLabel="Selecionar Vídeo, Imagem ou Documento"
            cancelLabel="Cancelar">
            <ng-template pTemplate="content">
                <div *ngIf="loading" style="text-align: center;">
                    <p-progressSpinner 
                        styleClass="w-4rem h-4rem" 
                        strokeWidth="2" 
                        fill="var(--surface-ground)" 
                        animationDuration="0.8s" />
                </div>
                <!-- <p *ngIf="!uploadedFiles.length && !hasSelectedFiles" style="text-align: center; margin: 0px;">Selecione as fotos e clique em "Avaliar Veículo".</p>
                <p *ngIf="showEvaluateInfo" style="text-align: center; margin: 0px;">Avaliação Concluída.</p> -->
                <!-- <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ file.size }} bytes
                    </li>
                </ul> -->
            </ng-template>
        </p-fileUpload>
    </div>

    <div>
        <label class="custom-label" for="details">Detalhes adicionais</label>
    </div>
    <div>
        <textarea 
            rows="2"
            cols="100" 
            pInputTextarea 
            placeholder="Adicione detalhes adicionais (Exemplos: Diálogo informal, Diálogo formal, Precisão científica etc.)"
            [(ngModel)]="details">
        </textarea>
    </div>
    <div>
        <label class="custom-label" for="duration">Duração do vídeo (minutos)</label>
    </div>
    <div>
        <p-inputNumber 
            [(ngModel)]="duration" 
            mode="decimal" 
            [showButtons]="true" 
            inputId="minmax-buttons" 
            [min]="0" 
            [max]="10000"/>  
    </div>

    <div>
        <br/>
        <p-button label="Gerar Roteiro" icon="pi pi-check" [loading]="loading" (onClick)="onClick()"/>
    </div>
    <br/>
</div>

<div class="result-container" *ngIf="apiResult">
    <h1>Roteiro sobre <b>{{ theme }}</b></h1>

    <table>
        <tr *ngFor="let item of apiResult">
          <!-- Verifica se o item contém ** -->
          <ng-container *ngIf="item.includes('**') && item.includes('Cena')">
            <th>{{ item.replaceAll('**', '') }}</th>
          </ng-container>
          <ng-container *ngIf="item.includes('**') && !item.includes('Cena')">
            <th><i>{{ item.replaceAll('**', '') }}</i></th>
          </ng-container>
          <ng-container *ngIf="!item.includes('**')">
            <td>{{ item }}</td>
          </ng-container>
        </tr>
      </table>

</div>
  